<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-4">
    <div class="container-fluid">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home:home-view' %}">home</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'stock-exchange:list' %}">stock exchange</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account:logout' %}">logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account:login' %}">login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account:register' %}">register</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>